@media (max-width: 1200px) {
#app{width: 50%!important;}

#app button{font-size: 1.2vw!important;
    width: 8vw!important;}
}

    @media (max-width: 850px) {
        #app{width: 70%!important;}
        
        #app button{font-size: 2vw!important;
            width: 20vw!important;}

            #app i{display:block!important;}
        }

        @media (max-width: 500px) {
            #app{width: 70%!important;}
            
            #app button{font-size: 3vw!important;
                width: 20vw!important;}

                #app i{display:block!important;}
            }


body{
    background-color: blanchedalmond;
}

#app{
    font-family: 'Inconsolata', monospace;    display:flex;
    flex-direction: column;
    border: 1px solid black;
    width: 25%;
    min-height: 40vh;
    margin: 5% auto auto auto;
    padding: 1.5%;
    background: rgb(255, 255, 171);
}

#app input{
    width: 100%;
    border: 0;
    background: rgb(255, 255, 171);
    border-bottom: 1px solid rgb(206, 162, 104);
    outline: none;

}

#app span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0;
    border-bottom: 1px solid burlywood;
}

#app button{
    width: 5.5vw;
    align-self: end;
    font-size: 0.8vw;
    height: 3vh;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
